<input [formControl]="searchControl" placeholder="Поиск репозиториев">
<select [formControl]="languageControl">
  <option value="">Выберите язык</option>
  <option value="javascript">JavaScript</option>
  <option value="python">Python</option>
  <option value="java">Java</option>
  <option value="c++">C++</option>
  <option value="c#">C#</option>
</select>

<div *ngFor="let repo of repositories">
  <h2>{{ repo.name }}</h2>
  <p>{{ repo.description }}</p>
  <p>{{ repo.owner.login }}</p>
  <img [src]="repo.owner.avatar_url" alt="avatar" width="100px">
  <a [routerLink]="['/repository', repo.id]">Подробнее</a>
</div>
